<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Yasham Foundation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="charset" content="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" href="./assets/css/main.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/scrollreveal"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/12.0.6/markdown-it.min.js" integrity="sha512-7U8vY7c6UQpBNQOnBg3xKX502NAckvk70H1nWvh6W7izA489jEz+RCN3ntT1VMdXewaSKkOrEBegp/h6SPXrjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="assets/js/vue.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="https://kit.fontawesome.com/71f38e2514.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="vue-root">
            <loading-dialog></loading-dialog>
            <work-view-page></work-view-page>
            <gallery-popup></gallery-popup>
            <nav-holder selecteditem="home"></nav-holder>
            <div class="onboarding">
                <div class="onboarding-inner">
                    <div class="onboarding-content slide-in-left">
                        <span style="font-weight: 700; font-size: 20px;">We are</span>
                        <span style="font-weight: 700; font-size: 40px; color: var(--color-primary);">Yasham </span>
                        <span style="font-weight: 700; font-size: 40px;">Foundation</span>
                        <span style="font-weight: 500; font-size: 18px; margin-top: 16px;">We educate, enlighten and empower the future generations through holistic education.</span>
                        <a class="bigbtn" style="margin-top: 32px;" href="about.html">Learn More</a>
                    </div>
                </div>
            </div>
            
            <div class="subsection mob-center scroll-reveal">
                <h2 style="margin-left: 16px"><i class="fas fa-hands-helping text-gradient" style="padding-right: 16px;"></i>Our Programmes</h2>
                <span style="margin-left: 16px" class="underbar"></span>
                <div class="pcardlist" id="work-carousel">
                    <a v-for="(item, index) in content.work" :key="index" class="pcard slide-in-left" v-on:click="$root.$emit('showWorkPage', item)">
                        <div v-bind:style="{'background-image': 'url('+item.image+')'}" class="pcard-header">
                            <div class="pcard-header-text">
                                <span class="pcard-title">{{item.title}}</span>
                                <span class="pcard-subtitle">{{item.subtext}}</span>
                                
                            </div>
                        </div>
                        <div class="pcard-content">
                            {{item.summaryText}}
                        </div>
                    </a>
                </div>
                <a class="bigbtn" style="margin-top: 32px;" href="our-work.html">View All Work</a>
            </div>
            <div class="impact-outer scroll-reveal">
                <div class="impact-item">
                    <i class="fa fa-school impact-icon"></i>
                    <span style="font-size: 32px; font-weight: 400;">170</span>
                    <span style="font-size: 14px; font-weight: 600; color: var(--color-accent);">STUDENTS</span>
                </div>
                <span class="impact-div"></span>
                <div class="impact-item">
                    <i class="fa fa-heartbeat impact-icon"></i>
                    <span style="font-size: 32px; font-weight: 400;">374</span>
                    <span style="font-size: 14px; font-weight: 600; color: var(--color-accent);">FAMILIES</span>
                </div>
                <span class="impact-div"></span>
                <div class="impact-item">
                    <i class="fa fa-female impact-icon"></i>
                    <span style="font-size: 32px; font-weight: 400;">304</span>
                    <span style="font-size: 14px; font-weight: 600; color: var(--color-accent);">WOMEN & YOUTH</span>
                </div>
            </div>
    
            <div class="subsection mob-center scroll-reveal">
                <h2 style="margin-left: 16px"><i class="fa fa-users text-gradient" style="padding-right: 16px;"></i>Yasham Communities</h2>
                <span style="margin-left: 16px" class="underbar"></span>
                <div class="pcardlist" id="communities-carousel">
                    <a v-for="(item, index) in content.communities" style="width: 100%; max-width: 480px" :key="index" class="pcard slide-in-left" v-on:click="$root.$emit('showWorkPage', item)">
                        <div v-bind:style="{'background-image': 'url('+item.image+')'}" class="pcard-header">
                            <div class="pcard-header-text">
                                <span class="pcard-title">{{item.title}}</span>
                                <span class="pcard-subtitle">{{item.subtext}}</span>
                                
                            </div>
                        </div>
                        <div class="pcard-content">
                            {{item.summaryText}}
                        </div>
                    </a>
                </div>
            </div>
            <div class="custom-shape-divider-top-1625640904 scroll-reveal" style="background: #F5F5F5;">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <defs><linearGradient id="gradient"><stop offset="0%" stop-color="#d5420f"></stop><stop offset="100%" stop-color="#fe8a00"></stop></linearGradient></defs>
                    <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" fill="#FFFFFF"></path>
                </svg>
            </div>
            <div class="partners-holder subsection mob-center scroll-reveal">
                <h2 style="margin-left: 16px"><i class="fas fa-handshake text-gradient" style="padding-right: 16px;"></i>Our Partners</h2>
                <span style="margin-left: 16px" class="underbar"></span>
                <div class="partners-list">
                    <a href="https://example.com"><img src="./assets/images/partner_placeholder.png" /></a>
                    <a href="https://example.com"><img src="./assets/images/partner_placeholder.png" /></a>
                    <a href="https://example.com"><img src="./assets/images/partner_placeholder.png" /></a>
                    <a href="https://example.com"><img src="./assets/images/partner_placeholder.png" /></a>
                    <a href="https://example.com"><img src="./assets/images/partner_placeholder.png" /></a>
                    <a href="https://example.com"><img src="./assets/images/partner_placeholder.png" /></a>
                    <a href="https://example.com"><img src="./assets/images/partner_placeholder.png" /></a>
                    <a href="https://example.com"><img src="./assets/images/partner_placeholder.png" /></a>
                </div>
            </div>
            <footer-holder></footer-holder>
        </div>
        
        <script>
            window.postLoad = function(){
                new SimpleCarousel(document.getElementById("work-carousel"));
                new SimpleCarousel(document.getElementById("communities-carousel"));
            }
            
        </script>
    </body>
</html>